= form_for [@group, @message] do |f|
  .message-form
    = f.text_field :content, class: 'form__message', placeholder: 'メッセージを入力してください'
    .message-form__image
      = f.label :image, class: 'form__mask__image' do
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__submit'
  .messages
    = render @messages