= render 'shared/header'
#account-page.account-page
  .account-page__inner
    .account-page__inner__form
      %h1 サインアップ
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .account-page__inner__field
          .account-page__inner__field__label
            = f.label :name
          .account-page__inner__field__input
            = f.text_field :name, autofocus: true
        .account-page__inner__field
          .account-page__inner__field__label
            = f.label :email
          .account-page__inner__field__input
            = f.email_field :email
        .account-page__inner__field
          .account-page__inner__field__label
            = f.label :password
            %i (英数字8文字以上)
          .account-page__inner__field__input
            = f.password_field :password, autocomplete: "off"
        .account-page__inner__field
          .account-page__inner__field__label
            = f.label :password_confirmation
          .account-page__inner__field__input
            = f.password_field :password_confirmation, autocomplete: "off"
        .actions
          = f.submit "アカウントを作成", class: 'btn'