.header
  .header__title
    = link_to "Schedule", root_path, class: 'title'
  - if user_signed_in?
    .header__logout
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
  - else
    .header__sign-up
      = link_to "アカウント作成", new_registration_path(resource_name), class: 'btn'
    .header__sign-in
      = link_to "ログイン", new_session_path(resource_name), class: 'btn'
  .header__groups
  - if user_signed_in?
    - current_user.groups.each do |group|
      .header__groups__link
        = link_to group_messages_path(group), class: "group-link" do
          .name
            = group.name