= form_with(model: event, local: true) do |f|
  .new-event
    .new-event__title
      %h1 タイトル
      = f.text_field :title
    .new-event__description
      %h1 説明
      = f.text_area :description, class: "description-form"
    .new-event__start_date
      %h1 開始時刻
      = f.datetime_select :start_date, {}, class: "start_date-form"
    .new-event__end_date
      %h1 終了時刻
      = f.datetime_select :end_date, {}, class: "end_date-form"
    .new-event__address
      %h1 場所
      = f.text_field :address, class: "address-form"
    .new-event__user_id
      = f.hidden_field :user_id, value: current_user.id
    .new-event__submit-btn
      = f.submit "スケジュールを作成", class: "new-btn"
    .new-event__back
      = link_to '戻る', events_path, class: "back-btn"
